/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-style: normal;
    font-style: bold;
    font-size: 1rem;
}
  
  /* Reiknum stærð á öllum boxum sem border-box */
  html {
    box-sizing: border-box;
    font-size: 16px;
    border-spacing: 0;
    list-style: none;

  }
  /* og látum erfast á allt */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* hjálpar class sem felur sjónrænt en skjálesarar lesa */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap) format('serif');
  }


header {
    border-bottom: 0.5rem #ffe7ae solid;
    text-align: center;
    background-color: #2f0505;
    color: #fff1cf;
}

a{
    color:#2f0505
}


 .website-menu-links {
    text-align: center;
    background-color: #fff9ee;
    color: #2f0505;
    padding:1rem;
 }

 
 .block {
    float: left;
    width:50%;
    padding: 1rem;
    box-sizing: border-box;
     
 }

 .menu-and-order{
    width: 50%;
    box-sizing: border-box;
    padding-left: 10px;
    /* border-right: 5px red solid; */
    /* border-left: 5px red solid; */
    /* border-top: 5px red solid; */
    /* border-bottom: 5px red solid; */
 }

 .menu1 {
    float:left;
    /* margin-left: 10rem; */
 }

 .menu2 {
    float: right;
    /* margin-right: 10rem; */
 }

 .dishes {
    /* border-right: 5px red solid; */
    /* border-left: 5px red solid; */
    /* border-top: 5px red solid; */
    /* border-bottom: 5px red solid; */
    padding-top: 10rem;
 }

.popular-dishes {
    /* border-right: 5px red solid; */
    /* border-left: 5px red solid; */
    /* border-top: 5px red solid; */
    /* border-bottom: 5px red solid; */
    box-sizing: border-box;
}

.check-it-out {
    /* border-right: 5px red solid; */
    /* border-left: 5px red solid; */
    /* border-top: 5px #ffe7ae solid; */
    /* padding-top: 10px; */
    padding-bottom: 8px;
    margin-left: 30px;
}

footer {
    float: left;
    background-color: #2f0505;
    text-align: center;
    border: 8px;
    border-color: #ffe7ae;
    color:#fff1cf;
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-top: #ffe7ae;
    border-width: 5px;
 }

 .fótur1 {
    float: left;
    margin-left: 25rem;
 }
 .fótur2 {
    float: right;
    margin-right: 25rem;
 }






 

 

