/* Matseðill */

table {
  border-spacing: 0;

  th,
  td {
    padding: calc(var(--spacing) * 0.5);
    text-align: left;
  }

  tbody tr:nth-child(2n + 1) {
    color: var(--color-dark);
    background-color: var(--color-gold);
  }
}
