/** Valmynd **/

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--spacing) 0;
  width: 100%;

  background-color: var(--color-light);
  color: var(--color-dark);
}

.navigation {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing);

    width: 100%;
    max-width: var(--width-offset);

    list-style: none;
  }
}
