/* Pöntunarform */

fieldset {
  border: var(--border-small) solid var(--color-dark);

  legend {
    font-weight: bold;
  }

  input,
  select,
  textarea {
    padding: calc(var(--spacing) * 0.5);
    width: 100%;
  }
}

fieldset {
  [type="checkbox"] {
    width: auto;
  }
}

div {
  label {
    display: flex;
    flex-direction: column;
  }
}

form {
  button {
    padding: calc(var(--spacing) * 0.25);
    border-radius: var(--border-radius);
  }
}

.checkbox {
  label {
    flex-direction: row;
    gap: calc(var(--spacing) * 0.5);
  }
}
